<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to ThinkFish!</h2>
    <p>
      Thanks for joining. If you're reading this, you probably observe the world through a lens of possibility. Whether it's connecting seemingly distant dots or grabbing the low-hanging fruit of the world, we look forward to ideating with you.
    </p>
    <p>
      Start by downloading the <a href="https://telegram.org/" target="_blank">Telegram app</a> if you don't already have it. Then here is your private link: <%= link_to "click me", "https://t.me/#{ENV.fetch("TELEGRAM_BOT_USERNAME")}", target: :_blank  %>.
    </p>
    <p>
      Follow the setup and we'll see you in there.
    </p>
    <p>Best,<br>Nic & Eli</p>
  </body>
</html>
