<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to the Idea Dojo...</h2>
    <p>
      Thanks for joining Idea Dojo, we look forward to ideating with you.
    </p>
    <p>
      Here is your private link: <%= link_to "click me", "https://t.me/#{ENV.fetch("TELEGRAM_BOT_USERNAME")}", target: :_blank  %>.
    </p>
    <p>
      Thanks for joining, we look forward to ideating with you!
    </p>
    <p>Best,<br>Idea Dojo Team</p>
  </body>
</html>
