:sass
  .feed
    padding-top: 60px
    flex-grow: 1
    margin: 0 auto
    max-width: 600px
    position: relative
    width: 100%

  img
    height: 100%
    width: 100%
    max-width: 600px

%h1= @user.username

%div.feed
  - @user.ideas.each do |idea|
    = react_component 'Idea', { :name => idea.name, :date => idea.created_at.strftime('%F'), :imageUrl => idea.image_url }