:sass
  body
    background: #efefef

  .feed
    background: #fff
    flex-grow: 1
    margin: 1.5em auto
    max-width: 320px
    padding: 1.5em
    position: relative
    width: 100%

  img
    height: 100%
    width: 100%

  .name
    background: #fff
    padding: 1.5em
    position: relative
    max-width: 600px
    margin: 1em auto
    font-size: 1.5em


%div.name= '@' + @user.username + ' ideas'

%div.feed
  - @user.ideas.reverse.each do |idea|
    = react_component 'Idea', { :name => idea.name, :date => idea.created_at.strftime('%F'), :imageUrl => idea.image_url }