<div class="row">
    <div class="col-l-4-xs-12 col-sm-4">
    <div class="testimonial-box">
      <h3>Ideation Bot</h3>
    </div>
    <p>
      Our group of ideators makes [title] a place where ideas can be validated, built upon, and commented on.
    </p>
  </div>

  <div class="col-l-4-xs-12 col-sm-4">
    <div class="testimonial-box">
      <h3>Curated Community</h3>
    </div>
    <p>
      We want to make everyday ideation simple and effective, idea bot was built so all you have to do is spit out your best product ideas in a message format.
    </p>
  </div>

  <div class="col-l-4-xs-12 col-sm-4" style="">
    <div class="testimonial-box">
      <h3>Custom Feed</h3>
    </div>
    <p>Access your own museum of product ideas whenever you need to and share it with others.</p>
  </div>
</div>
