.wrapper

  .modal
    .avatar
    %p Inspiring the creation of a vision, one idea at a time.
    %p Track your ideas by simply sending a quick photo and a caption.
    %p The bot will share your idea to our curated community of makers.

    = link_to "Join Group", "#{ENV.fetch("TELEGRAM_GROUP_LINK")}"