<div class="container">

 <!--  <div class="welcome_two">
    <center>
      <p>a digital think tank for the modern maker</p>
      <p>a community of makers <br>tracking and sharing ideas</p>
    </center>
  </div> -->

  <div class="">
    <%= render 'call_to_action' %>
  </div>
<!--
      <div class="welcome">
        <center>
          <%#= render 'payment_button' %>
          <p>join <%= User.count %> other fish in the bowl</p>
        </center>
      </div>
 -->
  </div>

