<div class="container">

  <div class="welcome_two">
    <center>
      <h3>welcome to think fish</h3>
      <p>a digital think tank for the modern maker</p>
    </center>
  </div>

  <div class="">
    <%= render 'call_to_action' %>
  </div>

      <div class="welcome">
        <center>
          <%= render 'payment_button' %>
          <p>join <%= User.count %> other fish in the bowl</p>
        </center>
      </div>

  </div>

