<div class="container">
<h1>ThinkFish to track, share, and execute ideas</h1>
<h2>Join an ideation community for the same price as a cup of coffee</h2>


<h3>what's included?</h3>
      <ul style="text-align: left;">
        <li>App: a Telegram bot tracks your ideas, provides on-demand inspiration, and populates your personal idea library.</li>
        <li>Community: join makers and creators in sharing and collaborating on ideas.</li>
        <li>Inspiration: be included in our weekly book club to spark new ideas.</li>
        <li>Showcase: idea of the week gets a shoutout and idea of the month gets technical analysis from internal team.</li>
      </ul>

<h3>what's an idea?</h3>
      <ul>
        <li>Airport Social: Tinder-style app to meet other awesome people in airports</li>
        <li>Animal Bar: wildlife conservation bar in which each cocktail is based on an endangered species</li>
        <li>BeFree: an app to teach people how to freestyle rap</li>
      </ul>

</div>
