<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Ideas Transform Society</h1>
    <p>We built a space for ideation among sustainable maker</p>
    <a class="btn btn-primary btn-lg">Join Us</a>
  </div>
</div>

<div class="container">
  <h2>Ideas aren’t important to hold on to, their only importance is in sharing them with others.</h2>
  <p>
    Ideas have consequences that can transform society. Everything from the phones in our pocket to the socio-economic systems that govern us to the way we move around cities begin with a single idea. We created [title] to manifest our ideas with a curated community of makers from around the world.
  </p>
  <p>
    Be inspired to observe things and think of ways to make them better or more efficient. Connecting ideas is where innovation comes from, and connecting with people makes those innovation come to life.
  </p>
</div>

<div class="container h-50">
  <%= render 'offer' %>
</div>

<div class="container h-50">
  <%= render 'call_to_action' %>
</div>
