<%= form_tag charges_path, onclick: "ga('send', 'event', 'Join', 'Click');" do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Subscribe to Think Fish"
          data-image="<%= image_url("favicon.png") %>"
          data-amount="500"
          data-currency="usd"
          data-label="Join Us"
          data-name="Monthly Subscription"
          data-allow-remember-me=false
          data-locale="auto"></script>
<% end %>

